.main-div img {
    border: 5px solid #fff;
        
}

.main-div {
    margin: 0 auto;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    display: inline-block;
    transform: translateZ(0);
    position: relative;
    background: #000;
    transition-duration: 0.3s;
  }

  .main-div:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleY(1);
    transition-duration: 0.3s;
  }

 .main-div:hover, .main-div:focus, .main-div:active {
    color: white;
  } 

 .main-div:hover:before, .main-div:focus:before, .main-div:active:before {
    transform: scaleY(0);
  }

  .main-div:after {
    content: "lake view";
    text-transform: uppercase;
    position: absolute;
    height: 20%;
    text-align: center;
    font-size: 60px;
    z-index: 2;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.0);
    transform: scaleY(1);
    transition-duration: 0.3s;
  }

  .main-div:hover:after, .main-div:focus:after, .main-div:active:after {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
  }

.main-div figure {
    margin: 0;
    padding: 0;
}