

@media all and (max-width: 1170px) {
    
    header .header-inner {
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: right;
        background-image: url(../img/man-2.jpg);
        height: 70vh;
            
    }
    
    header .header-inner p {
        margin: 150px 50px 0px 0px;
    }
    
    header .header-inner p:nth-of-type(1) {
        font-size: 22px;
    }
    
    header .header-inner p:nth-of-type(2) {
        font-size: 28px;
        margin-top: 10px;
    }

}


@media all and (max-width: 992px) {

    header .header-inner {
        background-image: url(../img/man-1.jpg);
        height: 50vh;
    }

    header .header-inner p {
        display: none;
    }

    header .header-text {
        display: block;
    }

    header .header-text p:nth-of-type(1) {
        font-size: 20px;
    }
    
    header .header-text p:nth-of-type(2) {
        font-size: 24px;
    }
  }